In [1]:
import pymysql
import pandas as pd

db = pymysql.connect(host='localhost',port=int(3306),user='root',passwd='12345678', 
                    db='financialservice', cursorclass=pymysql.cursors.DictCursor)

dwh = pymysql.connect(host='localhost',port=int(3306),user='root',passwd='12345678', 
                    db='datawarehouse', cursorclass=pymysql.cursors.DictCursor)

cursorInstance = db.cursor()
dwh_cursor = dwh.cursor()

In [2]:
def run(command, *args):
    cursorInstance.execute(command, args)
    
def dwh_run(command, *args):
    dwh_cursor.execute(command, args)

def get():
    return cursorInstance.fetchall()

def dwh_get():
    return dwh_cursor.fetchall()

**Extract**

In [3]:
run("SELECT * FROM branch")
branch = get()

In [4]:
run("SELECT * FROM customer")
customer = get()

In [5]:
run("SELECT * FROM loan_category")
loan_category = get()

In [6]:
run("SELECT * FROM loan")
loan = get()

In [7]:
run("SELECT * FROM loan_transaction")
transaction = get()

**Transform**

**Load**

In [8]:
dwh.rollback()

print(len(branch))
for b in branch: 
    address = b['Address']
    print(b['BranchID'])
    print(address)
    number, street, city, province = address.split(',')
    print(number, street, city, province)
    sql = 'INSERT INTO branch_dimension VALUES (%s, %s, %s, %s)'
    dwh_run(sql, b['BranchID'], street, city, province)

dwh.commit()

50
0
25508, Đường Kim Ngọc, Thành phố Vĩnh Yên, Tỉnh Vĩnh Phúc
25508  Đường Kim Ngọc  Thành phố Vĩnh Yên  Tỉnh Vĩnh Phúc
1
049, Hai Bà Trưng, Quận Hoàn Kiếm, Thành phố Hà Nội
049  Hai Bà Trưng  Quận Hoàn Kiếm  Thành phố Hà Nội
10
2709, Võ Văn Kiệt, Quận 1, Thành phố Hồ Chí Minh
2709  Võ Văn Kiệt  Quận 1  Thành phố Hồ Chí Minh
11
809, Hàm Nghi, Quận 1, Thành phố Hồ Chí Minh
809  Hàm Nghi  Quận 1  Thành phố Hồ Chí Minh
12
853, Lê Thánh Tôn, Quận 1, Thành phố Hồ Chí Minh
853  Lê Thánh Tôn  Quận 1  Thành phố Hồ Chí Minh
13
9002, Bùi Thị Xuân, Quận 1, Thành phố Hồ Chí Minh
9002  Bùi Thị Xuân  Quận 1  Thành phố Hồ Chí Minh
14
990, Phó Đức Chính, Quận 1, Thành phố Hồ Chí Minh
990  Phó Đức Chính  Quận 1  Thành phố Hồ Chí Minh
15
5238, Nguyễn Công Trứ, Quận 1, Thành phố Hồ Chí Minh
5238  Nguyễn Công Trứ  Quận 1  Thành phố Hồ Chí Minh
16
704, Võ Văn Tần, Quận 3, Thành phố Hồ Chí Minh
704  Võ Văn Tần  Quận 3  Thành phố Hồ Chí Minh
17
258, Nam Kỳ Khởi Nghĩa, Quận 3, Thành phố Hồ Chí Minh
258  Nam Kỳ Khởi Nghĩa  Quận 3  Thành phố Hồ Chí Minh
18
88505, Nguyễn Thị Diệu, Quận 3, Thành phố Hồ Chí Minh
88505  Nguyễn Thị Diệu  Quận 3  Thành phố Hồ Chí Minh
19
4932, Đường Hoà Bình, Quận Ninh Kiều, Thành phố Cần Thơ
4932  Đường Hoà Bình  Quận Ninh Kiều  Thành phố Cần Thơ
2
2845, Thợ Nhuộm, Quận Hoàn Kiếm, Thành phố Hà Nội
2845  Thợ Nhuộm  Quận Hoàn Kiếm  Thành phố Hà Nội
20
006, Phan Đình Phùng, Quận Ninh Kiều, Thành phố Cần Thơ
006  Phan Đình Phùng  Quận Ninh Kiều  Thành phố Cần Thơ
21
2691, Võ Văn Tần, Quận Ninh Kiều, Thành phố Cần Thơ
2691  Võ Văn Tần  Quận Ninh Kiều  Thành phố Cần Thơ
22
596, Đường Hùng Vương,Thành phố Móng Cái, Tỉnh Quảng Ninh
596  Đường Hùng Vương Thành phố Móng Cái  Tỉnh Quảng Ninh
23
5723, Trần Hưng Đạo, Thành phố Hạ Long, Tỉnh Quảng Ninh
5723  Trần Hưng Đạo  Thành phố Hạ Long  Tỉnh Quảng Ninh
24
58218, Đường Hùng Vương, Thành phố Móng Cái, Tỉnh Quảng Ninh
58218  Đường Hùng Vương  Thành phố Móng Cái  Tỉnh Quảng Ninh
25
3835, Đại lộ Bình Dương, Thành phố Thủ Dầu Một, Tỉnh Bình Dương
3835  Đại lộ Bình Dương  Thành phố Thủ Dầu Một  Tỉnh Bình Dương
26
59724, Đường ĐT743, Thị xã Dĩ An, Tỉnh Bình Dương
59724  Đường ĐT743  Thị xã Dĩ An  Tỉnh Bình Dương
27
2041, Trường Chinh, Thị xã Bà Rịa, Tỉnh Bà Rịa - Vũng Tàu
2041  Trường Chinh  Thị xã Bà Rịa  Tỉnh Bà Rịa - Vũng Tàu
28
98724, Quốc lộ 51, Huyện Tân Thành, Tỉnh Bà Rịa - Vũng Tàu
98724  Quốc lộ 51  Huyện Tân Thành  Tỉnh Bà Rịa - Vũng Tàu
29
327, Thống Nhất, Thành phố Vũng Tàu, Tỉnh Bà Rịa - Vũng Tàu
327  Thống Nhất  Thành phố Vũng Tàu  Tỉnh Bà Rịa - Vũng Tàu
3
9742, Lê Thánh Tông, Quận Hoàn Kiếm, Thành phố Hà Nội
9742  Lê Thánh Tông  Quận Hoàn Kiếm  Thành phố Hà Nội
30
7448, Trần Hưng Đạo, Thành phố Vũng Tàu, Tỉnh Bà Rịa - Vũng Tàu
7448  Trần Hưng Đạo  Thành phố Vũng Tàu  Tỉnh Bà Rịa - Vũng Tàu
31
3272, Đường Nguyễn Trung Trực, Phú Quốc, Kiên Giang
3272  Đường Nguyễn Trung Trực  Phú Quốc  Kiên Giang
32
191, Đường Trần Phú, Rạch Giá, Kiên Giang
191  Đường Trần Phú  Rạch Giá  Kiên Giang
33
92324, Hùng Vương, Thành phố Quảng Ngãi, Tỉnh Quảng Ngãi
92324  Hùng Vương  Thành phố Quảng Ngãi  Tỉnh Quảng Ngãi
34
7269, Trung An, Huyện Bình Sơn, Tỉnh Quảng Ngãi
7269  Trung An  Huyện Bình Sơn  Tỉnh Quảng Ngãi
35
07810, Đường Lê Lợi, Thành phố Plei Ku, Tỉnh Gia Lai
07810  Đường Lê Lợi  Thành phố Plei Ku  Tỉnh Gia Lai
36
6183, Nguyễn Tất Thành, Thành phố Plei Ku, Tỉnh Gia Lai
6183  Nguyễn Tất Thành  Thành phố Plei Ku  Tỉnh Gia Lai
37
12345, Trần Phú, Thành phố Plei Ku, Tỉnh Gia Lai
12345  Trần Phú  Thành phố Plei Ku  Tỉnh Gia Lai
38
52839, Lê Lợi, Vĩnh Long, Vĩnh Long
52839  Lê Lợi  Vĩnh Long  Vĩnh Long
39
6489, KCN Phú Tài, Thành phố Quy Nhơn, Tỉnh Bình Định
6489  KCN Phú Tài  Thành phố Quy Nhơn  Tỉnh Bình Định
4
273, Trần Quang Khải, Quận Hoàn Kiếm, Thành phố Hà Nội
273  Trần Quang Khải  Quận Hoàn Kiếm  Thành phố Hà Nội
40
59624, Lê Duẩn, Thành phố Quy Nhơn, Tỉnh Bình Định
59624  Lê Duẩn  Thành phố Quy Nhơn  Tỉnh Bình Định
41
921, Lê Hồng Phong, Thành phố Quy Nhơn, Tỉnh Bình Định
921  Lê Hồng Phong  Thành phố Quy Nhơn  Tỉnh Bình Định
42
405, Lê Thị Pha, Thành phố Bảo Lộc, Tỉnh Lâm Đồng
405  Lê Thị Pha  Thành phố Bảo Lộc  Tỉnh Lâm Đồng
43
64859, Đường 30/4, Thành phố Tây Ninh, Tỉnh Tây Ninh
64859  Đường 30/4  Thành phố Tây Ninh  Tỉnh Tây Ninh
44
649, Đường Trần Phú, Thành phố Kon Tum, Tỉnh Kon Tum
649  Đường Trần Phú  Thành phố Kon Tum  Tỉnh Kon Tum
45
59452, Nguyễn Công Trứ, Thành phố Vị Thanh, Hậu Giang
59452  Nguyễn Công Trứ  Thành phố Vị Thanh  Hậu Giang
46
364, Đại Lộ Đồng Khởi, Thành phố Bến Tre, Bến Tre
364  Đại Lộ Đồng Khởi  Thành phố Bến Tre  Bến Tre
47
20182, Qưới Sơn, Châu Thành, Bến Tre
20182  Qưới Sơn  Châu Thành  Bến Tre
48
874, Duy Tân, Thành phố Tuy Hoà, Tỉnh Phú Yên
874  Duy Tân  Thành phố Tuy Hoà  Tỉnh Phú Yên
49
912, Đường Lê Thánh Tôn, Thành phố Trà Vinh, Tỉnh Trà Vinh
912  Đường Lê Thánh Tôn  Thành phố Trà Vinh  Tỉnh Trà Vinh
5
27767, Hàng Tre, Quận Hoàn Kiếm, Thành phố Hà Nội
27767  Hàng Tre  Quận Hoàn Kiếm  Thành phố Hà Nội
6
47210, Huỳnh Thúc Kháng, Quận Đống Đa, Thành phố Hà Nội
47210  Huỳnh Thúc Kháng  Quận Đống Đa  Thành phố Hà Nội
7
412, Trần Duy Hưng, Quận Cầu Giấy, Thành phố Hà Nội
412  Trần Duy Hưng  Quận Cầu Giấy  Thành phố Hà Nội
8
544, Phạm Hùng, Nam Từ Liêm, Thành phố Hà Nội
544  Phạm Hùng  Nam Từ Liêm  Thành phố Hà Nội
9
97407, Phan Đình Phùng, Quận Ba Đình, Thành phố Hà Nội
97407  Phan Đình Phùng  Quận Ba Đình  Thành phố Hà Nội

In [9]:
dwh.rollback()

for lc in loan_category:
    sql = 'INSERT INTO loan_category_dimension VALUES (%s, %s, %s, %s, %s)'
    dwh_run(sql, lc['CategoryID'], lc['LifeSpan'], lc['Rate'], lc['Purpose'], lc['IsSecured'])
    
dwh.commit()

In [10]:
dwh.rollback()

from datetime import date, timedelta

sdate = date(2010, 1, 1)   # start date
edate = date(2030, 12, 31)   # end date

delta = edate - sdate       # as timedelta

for i in range(delta.days + 1):
    day = sdate + timedelta(days=i)
    sql = 'INSERT INTO date_dimension VALUES (%s, %s, %s, %s, %s)'
    dwh_run(sql, i, day.day, day.month, day.year, (day.month - 1) // 3 + 1)
    
dwh.commit()

In [11]:
dwh.rollback()

from datetime import date, timedelta

sdate = date(2010, 1, 1)   # start date
edate = date(2030, 12, 31)   # end date

delta = edate - sdate       # as timedelta

for i in range(delta.days + 1):
    day = sdate + timedelta(days=i)
    sql = 'INSERT INTO loan_started_date_dimension VALUES (%s, %s, %s, %s, %s)'
    dwh_run(sql, i, day.day, day.month, day.year, (day.month - 1) // 3 + 1)
    
dwh.commit()

In [12]:
dwh.rollback()

for b in customer: 
    sql = 'INSERT INTO customer_dimension VALUES (%s, %s, %s)'
    dwh_run(sql, b['ID'], b['Name'], b['DOB'])

dwh.commit()

In [13]:
from tqdm import tqdm

dwh.rollback()

for l in tqdm(loan): 
    key = l['LoanID']
    available_amount = l['AvailableAmount']
    date = l['StartDate']
    
    dwh_run(f"SELECT LoanStartedDateKey FROM loan_started_date_dimension WHERE LoanStartedDate = {date.day} AND LoanStartedMonth = {date.month} AND LoanStartedYear = {date.year}")
    date_id = dwh_get()[0]['LoanStartedDateKey']
    sql = 'INSERT INTO loan_dimension VALUES (%s, %s, %s)'
    dwh_run(sql, key, available_amount, date_id)

dwh.commit()

100%|██████████| 4023/4023 [00:10<00:00, 400.58it/s]

In [14]:
import datetime 
from datetime import timedelta

id = 0

dwh.rollback()

age_bands = [18, 25, 30, 35, 40, 45, 50, 55, 60]
income_bands = [0, 1000, 3000, 5000, 7000, 9000, 11000, 13000, 15000, 17000, 19000, 21000, 23000, 25000, 27000, 30000]

def get_age_band(a):
    for i in range(0, len(age_bands) - 1):
        if (a >= age_bands[i]) and (a < age_bands[i + 1]):
            return age_bands[i]
    
    return 60

def get_income_band(a):
    for i in range(0, len(income_bands) - 1):
        if (a >= income_bands[i]) and (a < income_bands[i + 1]):
            return income_bands[i]
    
    return 30000

for age_band in age_bands:
    for income_band in income_bands:
        for marital in range(4):
            for is_employed in range(2):
                id += 1
                sql = 'INSERT INTO customer_demographic_dimension VALUES (%s, %s, %s, %s, %s)'
                dwh_run(sql, id, age_band, income_band, marital, is_employed)

print(id)
    
dwh.commit()

1152

In [15]:
from tqdm import tqdm
import datetime

for t in tqdm(transaction):
    date = t['Date']
    dwh_run(f"SELECT DateKey FROM date_dimension WHERE Date = {date.day} AND Month = {date.month} AND Year = {date.year}")
    date_id = dwh_get()[0]['DateKey']
    
    run(f"SELECT AccountID, CategoryID FROM loan WHERE LoanID = {t['LoanID']}")
    result = get()[0]
    category_id = result['CategoryID']
    account_id = result['AccountID']
    
    run(f"SELECT CustomerID, BranchID FROM account WHERE AccountID = {account_id}")
    result = get()[0]
    customer_id = result['CustomerID']
    branch_id = result['BranchID']
    
    run(f"SELECT DOB, MaritalStatus, Income, Job FROM customer WHERE ID = {customer_id}")
    result = get()[0]
    dob = result['DOB']
    marital = result['MaritalStatus']
    income = result['Income']
    is_employed = result['Job']
    
    now = datetime.datetime.now()
    time_difference = now - dob
    age = time_difference.days // 365
    age_band = get_age_band(age)
    income_band = get_income_band(income_band)
        
    dwh_run(f"SELECT CustomerDemographicKey FROM customer_demographic_dimension WHERE AgeBand = {age_band} AND IncomeBand = {income_band} AND MaritalStatus = {marital} AND IsEmployed = {is_employed}")
    key = dwh_get()[0]['CustomerDemographicKey']
    loan_id = t['LoanID']
    
    sql = f'INSERT INTO loan_transaction_facts VALUES (%s, %s, %s, %s, %s, %s, %s)'
    dwh_run(sql, date_id, branch_id, category_id, customer_id, key, loan_id, t['Amount'])

dwh.commit()

100%|██████████| 60694/60694 [16:00<00:00, 63.18it/s]