In [2]:
import pymysql

import pandas as pd

db = pymysql.connect(host='localhost',port=int(3306),user='root',passwd='12345678', 
                    cursorclass=pymysql.cursors.DictCursor)

try: 
    cursorInstance.execute("CREATE DATABASE data_warehouse")
    print('Database was successfully created')
except: 
    print('Database existed')
    
db = pymysql.connect(host='localhost',port=int(3306),user='root',passwd='12345678', 
                    db='financialservice', cursorclass=pymysql.cursors.DictCursor)

cursorInstance = db.cursor()
cursorInstance.execute("SHOW DATABASES")
databaseList = cursorInstance.fetchall()

Database existed

In [2]:
def run(command, *args):
    cursorInstance.execute(command, args)

def get():
    return cursorInstance.fetchall()
# df = pd.read_sql(databaseList, con=db)

In [3]:
borrower_csv = pd.read_csv('./borrower_table.csv')
loan_csv = pd.read_csv('./loan_table.csv')

import collections
borrower_id_counter = collections.Counter(list(borrower_csv['loan_id']))
loan_id_counter = collections.Counter(list(loan_csv['loan_id']))

print(borrower_id_counter == loan_id_counter)

True

In [4]:
import datetime
import random

def random_date(year):
    start_date = datetime.date(year, 1, 1)
    end_date = datetime.date(year, 12, 31)

    time_between_dates = end_date - start_date
    days_between_dates = time_between_dates.days
    random_number_of_days = random.randrange(days_between_dates)
    
    return start_date + datetime.timedelta(days=random_number_of_days)

In [5]:
import numpy as np

joined_csv = pd.merge(borrower_csv, loan_csv, how='inner', on=['loan_id'])
joined_csv['customer_id'] = np.arange(len(joined_csv)) + 1
joined_csv['date'] = pd.to_datetime(joined_csv['date'], format="%Y-%m-%d")

Random start date

In [17]:
from tqdm import tqdm


# p = [1.0] * 9
# print(p)
# sump = 0
# sump = p[0]
# for i in range (1, 8):
#     p[i] = p[i - 1] * 1.05
#     sump += p[i]
# p[8] = p[7] * 1.02
# sump += p[8]

# sump2 = 0
# for i in range(0, 8):
#     p[i] /= sump
#     sump2 += p[i]
# p[8] = 1 - sump2

# print([0.09, 0.1, 0.1, 0.11, 0.11, 0.12, 0.12, 0.13, 1 - 0.09 - 0.1 - 0.1 - 0.11 - 0.11 - 0.12 - 0.12 - 0.13])

# print("joined_csv")
# print(type(joined_csv.keys()))
# print("============")

# # for index, row in tqdm(joined_csv.iterrows()):
# #     print("index = ", index, " row = ", row)
# #     joined_csv[index]['date'] = random_date(2012 + np.random.choice([0, 1, 2, 3, 4, 5, 6, 7, 8],  p=[0.135, 0.135, 0.135, 0.135, 0.135, 0.135, 0.135, 0.0275, 0.0275]))
# joined_csv[0]['date'] = random_date(2012 + np.random.choice([0, 1, 2, 3, 4, 5, 6, 7, 8],  p=[0.135, 0.135, 0.135, 0.135, 0.135, 0.135, 0.135, 0.0275, 0.0275]))

# # joined_csv['date'] = joined_csv['date'] + pd.offsets.DateOffset(year=np.random.choice([0, 1, 2, 3, 4, 5, 6, 7, 8],  p=[0.135, 0.135, 0.135, 0.135, 0.135, 0.135, 0.135, 0.0275, 0.0275]))

In [7]:
# joined_csv['date'] = pd.to_datetime(joined_csv['date'], format="%Y-%m-%d")

In [8]:
# joined_csv['year'] = joined_csv['date'].dt.year

# joined_csv['month'] = joined_csv['date'].dt.month

# joined_csv['day'] = joined_csv['date'].dt.day

# joined_csv['quarter'] = joined_csv['date'].dt.quarter

# joined_csv['date_of_birth'] = joined_csv['year'] - joined_csv['age']

# joined_csv['date_of_birth'] = joined_csv['date_of_birth'].apply(random_date)

# joined_csv['date_of_birth'] = pd.to_datetime(joined_csv['date_of_birth'], format="%Y-%m-%d")

Random Branch

In [9]:
from faker import Faker

fake = Faker('en_US')

BRANCH_COUNT = 20


branch_addresses = ["Đường Kim Ngọc, Thành phố Vĩnh Yên, Tỉnh Vĩnh Phúc", 
                    "Hai Bà Trưng, Phường Hàng Trống, Quận Hoàn Kiếm, Thành phố Hà Nội",
                    "Thợ Nhuộm, Quận Hoàn Kiếm, Thành phố Hà Nội", 
                    "Lê Thánh Tông, Quận Hoàn Kiếm, Thành phố Hà Nội",
                    "Trần Quang Khải, Quận Hoàn Kiếm, Thành phố Hà Nội",
                    "Hàng Tre, Quận Hoàn Kiếm, Thành phố Hà Nội",
                    "Huỳnh Thúc Kháng ,Quận Đống Đa, Thành phố Hà Nội",
                    "Trần Duy Hưng, Quận Cầu Giấy, Thành phố Hà Nội"
                    "Phạm Hùng, Nam Từ Liêm, Thành phố Hà Nội", 
                    "Phan Đình Phùng, Quận Ba Đình, Thành phố Hà Nội", 
                    "Võ Văn Kiệt, Quận 1, Thành phố Hồ Chí Minh", 
                    "Hàm Nghi, Quận 1, Thành phố Hồ Chí Minh", 
                    "Lê Thánh Tôn, Quận 1, Thành phố Hồ Chí Minh", 
                    "Bùi Thị Xuân, Quận 1, Thành phố Hồ Chí Minh", 
                    "Phó Đức Chính, Quận 1, Thành phố Hồ Chí Minh", 
                    "Nguyễn Công Trứ, Quận 1, Thành phố Hồ Chí Minh",
                    "Võ Văn Tần, Quận 3, Thành phố Hồ Chí Minh", 
                    "Nam Kỳ Khởi Nghĩa, Quận 3, Thành phố Hồ Chí Minh", 
                    "Nguyễn Thị Diệu, Quận 3, Thành phố Hồ Chí Minh",
                    "Đường Hoà Bình, Quận Ninh Kiều, Thành phố Cần Thơ", 
                    "Phan Đình Phùng, Quận Ninh Kiều, Thành phố Cần Thơ",
                    "Võ Văn Tần, Quận Ninh Kiều, Thành phố Cần Thơ", 
                    "Đường Hùng Vương,Thành phố Móng Cái, Tỉnh Quảng Ninh", 
                    "Trần Hưng Đạo, Thành phố Hạ Long, Tỉnh Quảng Ninh",
                    "Đường Hùng Vương, Thành phố Móng Cái, Tỉnh Quảng Ninh", 
                    "Đại lộ Bình Dương, Thành phố Thủ Dầu Một, Tỉnh Bình Dương",
                    "Đường ĐT743, Thị xã Dĩ An, Tỉnh Bình Dương",
                    "Trường Chinh, Thị xã Bà Rịa, Tỉnh Bà Rịa - Vũng Tàu", 
                    "Quốc lộ 51, Huyện Tân Thành, Tỉnh Bà Rịa - Vũng Tàu",
                    "Thống Nhất, Thành phố Vũng Tàu, Tỉnh Bà Rịa - Vũng Tàu",
                    "Trần Hưng Đạo, Thành phố Vũng Tàu, Tỉnh Bà Rịa - Vũng Tàu",
                    "Đường Nguyễn Trung Trực, Phú Quốc, Kiên Giang"
                    "Đường Trần Phú, Rạch Giá, Kiên Giang",
                    "Hùng Vương, Thành phố Quảng Ngãi, Tỉnh Quảng Ngãi",
                    "Trung An, Xã Bình Thạnh, Huyện Bình Sơn, Tỉnh Quảng Ngãi",
                    "Đường Lê Lợi, Thành phố Plei Ku, Tỉnh Gia Lai",
                    "Nguyễn Tất Thành, Thành phố Plei Ku, Tỉnh Gia Lai",
                    "Trần Phú, Thành phố Plei Ku, Tỉnh Gia Lai",
                    "Lê Lợi, Vĩnh Long, Vĩnh Long",
                    "KCN Phú Tài, Thành phố Quy Nhơn, Tỉnh Bình Định",
                    "Lê Duẩn,Thành phố Quy Nhơn, Tỉnh Bình Định", 
                    "Lê Hồng Phong, Thành phố Quy Nhơn, Tỉnh Bình Định", 
                    "Lê Thị Pha, Thành phố Bảo Lộc, Tỉnh Lâm Đồng",
                    "Đường 30/4, Thành phố Tây Ninh, Tỉnh Tây Ninh",
                    "Đường Trần Phú, Thành phố Kon Tum, Tỉnh Kon Tum",
                    "Nguyễn Công Trứ, Thành phố Vị Thanh, Hậu Giang", 
                    "Đại Lộ Đồng Khởi, Thành phố Bến Tre, Bến Tre", 
                    "Qưới Sơn, Châu Thành, Bến Tre", 
                    "Duy Tân, Thành phố Tuy Hoà, Tỉnh Phú Yên", 
                    "Đường Lê Thánh Tôn, Thành phố Trà Vinh, Tỉnh Trà Vinh"]

print(len(branch_addresses))
num_branch = len(branch_addresses)
for i in range(len(branch_addresses)):
    print("i = ", i)
    building_number = fake.building_number()
    address = branch_addresses[i]
    sql = f'INSERT INTO branch VALUES ({i}, "{building_number}, {branch_addresses[i]}")'
    run(sql)
    
db.commit()

48
i =  0

IntegrityError: (1062, "Duplicate entry '0' for key 'branch.PRIMARY'")

Random customers

In [1]:

family_names = ["Nguyễn", "Trần", "Phạm", "Đặng", "Hoàng", "Hồ", "Vũ", "Cao", "Trịnh"]
names = ["Sơn", "Mạnh", "Huy", "Nam", "Trang", "Hải", "Yến", "Thúy", "Châu", "Phi", "Huy", "Tú"]
print(len(joined_csv))
customer_table = list()
for index, row in joined_csv.iterrows():
    customer_id = row['customer_id']
    customer_name = np.random.choice(family_names) + " " + np.random.choice(names)
    yearly_salary = row['yearly_salary']
    date_of_birth = row['date_of_birth']
    address = str(fake.building_number()) + random.choice(branch_addresses)
    
    is_employed = row['is_employed']
    marital_status = np.random.choice([0, 1, 2, 3], p=[0.69, 0.22, 0.01, 0.08])
    
    sql = 'INSERT INTO customer VALUES (%s, %s, %s, %s, %s, %s, %s)'
    customer_table.append((customer_id, customer_name, is_employed, date_of_birth, address, marital_status, yearly_salary))
    run(sql, customer_id, customer_name, is_employed, date_of_birth, address, marital_status, yearly_salary)
    
db.commit()

NameError: name 'joined_csv' is not defined

Random loan category

In [12]:
db.rollback()

category_id = 0
for lifespan in [6, 12, 18, 24, 30, 36]:
    for purpose in ['business', 'investment', 'other', 'emergency_funds', 'home']:
        for is_secured in [0, 1]: 
            if is_secured == 0: 
                rate = round(random.uniform(16, 25), 2)
            else: 
                rate = round(random.uniform(10, 12), 2)
            
            new_lifespan = lifespan * 30
            
            sql = 'INSERT INTO loan_category VALUES (%s, %s, %s, %s, %s)'
            run(sql, category_id, new_lifespan, rate, purpose, is_secured)
            category_id += 1
            
db.commit()

IntegrityError: (1062, "Duplicate entry '0' for key 'loan_category.PRIMARY'")

Random accounts

In [13]:
import time

db.rollback()

for index, row in joined_csv.iterrows():
    n_accounts = random.randint(1, 2)
    
    data_src = ['saving_amount', 'checking_amount',]
    for i in range(n_accounts):
        customer_id = row['customer_id']
        branch_id = random.randint(0, num_)
        create_date = random_date(random.randint(2017, 2019))
        balance = row[data_src[i]]
        acc_id = int(time.time_ns())
        
        sql = 'INSERT INTO account VALUES (%s, %s, %s, %s, %s)'
        run(sql, acc_id, create_date, balance, customer_id, branch_id)

db.commit()

NameError: name 'nu' is not defined

In [ ]:
run("SELECT * FROM account")
account_list = cursorInstance.fetchall()

In [ ]:
run("SELECT * FROM loan_category")
category_list = cursorInstance.fetchall()

id2time = {}
id2rate = {}

for item in category_list:
    id2time[item['CategoryID']] = item['LifeSpan']
    id2rate[item['CategoryID']] = item['Rate']
    
id2rate

Random loan tracsactions

In [ ]:
import math 
from uuid import uuid4

db.rollback()

import datetime
from datetime import timedelta
import calendar
from tqdm import tqdm

def add_months(sourcedate, months):
    month = sourcedate.month - 1 + months
    year = sourcedate.year + month // 12
    month = month % 12 + 1
    day = min(sourcedate.day, calendar.monthrange(year,month)[1])
    return datetime.date(year, month, day)

def random_datetime(date):
    date_time = datetime.datetime(date.year, date.month, date.day)
    end = date_time + timedelta(days=1)
    return date_time + (end - date_time) * random.random()

loan_id = 0

for account in tqdm(account_list): 
    if random.randint(0, 1):
        id = np.where(joined_csv.customer_id == account['CustomerID'])[0][0]
        loan_id += 1
        available_amount = joined_csv['total_credit_card_limit'][id] * random.uniform(5, 20)
        amount = joined_csv['total_credit_card_limit'][id]
        start_date = datetime.datetime(2012 + random.choice([0, 1, 2, 3, 4, 5, 6, 7, 8], p=[0.09, 0.1, 0.1, 0.11, 0.11, 0.12, 0.12, 0.13, 1 - 0.09 - 0.1 - 0.1 - 0.11 - 0.11 - 0.12 - 0.12 - 0.13]), 
                                       1 + random.choice([0, 1, 2, 3, 4, 5, 6, 7, 8, ])) 
        account_id = account['AccountID']
        category_id = random.randint(0, 59)
        sql = 'INSERT INTO loan VALUES (%s, %s, %s, %s, %s)'
        run(sql, loan_id, available_amount, start_date, account_id, category_id)

        lifespan = id2time[category_id] // 30 
        rate = id2rate[category_id] 

        monthly_amount = math.ceil(amount * (100 + rate * (lifespan / 12)) / 100 / lifespan)
        paid_times = lifespan

#         db.commit()
        if available_amount > 500:
            for i in range(paid_times):
                pay_date = add_months(start_date, i)
                now = datetime.datetime.now() 
                now = add_months(now, 0)
                if pay_date > now: 
                    break
                
                transaction_id = uuid4()
#                 transaction_id = random_datetime(now).timestamp() * 1000000 + random.randint(1, 10) + random.randint(11, 100) + random.randint(101, 1000) + random.randint(1001, 10000) + random.randint(10001, 100000)
                if i == 0: 
                    transaction_amount = -amount
                else:
                    transaction_amount = monthly_amount 

                sql = 'INSERT INTO loan_transaction VALUES (%s, %s, %s, %s)'
                run(sql, transaction_id, pay_date, transaction_amount, loan_id)
        #     break
                             
db.commit()